@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<address>
    TU Ilmenau<br />
    @*Ehrenbergstraße 29<br />
    98693 Ilmenau, Germany<br />*@
    <abbr title="Phone">P:</abbr>
    +49 3677 69-0<br />
    <abbr title="Fax">F:</abbr>
    +49 3677 69-1701
</address>

<h3>General Chair</h3>
<address>
    <strong>Olga Strizhko:</strong>   <a href="mailto:olga.strizhko@tu-ilmenau.de">olga.strizhko@tu-ilmenau.de</a><br />
</address>

<h3>Program Committee Chair</h3>
<address>
    <strong>Michael Sommer:</strong>   <a href="mailto:michael.sommer@tu-ilmenau.de">michael.sommer@tu-ilmenau.de</a><br />
</address>

<h3>Website - Publicity Co-Chair</h3>
<address>
    <strong>Samar Shahabi Ghahfarokhi:</strong>   <a href="mailto:samar.shahabi.g@gmail.com">samar.shahabi.g@gmail.com</a><br />
</address>