<h2>Location</h2>

<div>
    <table style="width:100%">
        <tr>
            <td>
                <p style="text-align: justify; padding-right:10px;">
                    The ICCS 2017 conference will take place in the Bionik-Building of TU Ilmenau, room number 1130.
                    <br />
                </p>
            </td>
        </tr>
        <tr>
            <td><img src="~/Content/Images/bionik.png" alt="Alternate Text" /></td>
        </tr>
        <tr>
            <td>
                <p style="text-align: justify; padding-right:10px;">
                    <br />
                    <b>By car:</b>
                    <br />
                    Because of the connection to the autobahn Ilmenau is easily reached. 
                    If you come from the A4 (Frankfurt-Dresden) you should take the motorway junction Kreuz Erfurt (exit 45) 
                    onto the A71 towards Schweinfurt and then leave the A71 at the exit Ilmenau-Ost. 
                    From Ilmenau-Ost the way to the TU Ilmenau (campus plan) is well signposted, you just follow the signage to the city entrance.
                    By car Ilmenau is reachable on several ways. For instance the A-road B4 (Coburg-Ilmenau-Erfurt), 
                    B87 (Ilmenau-Weimar) and B88 (Sallfeld-Ilmenau-Gotha) are crossing in Ilmenau.
                    <br />
                    <b>By train:</b>
                    <br />
                    Ilmenau is easily reached by train from Erfurt, the capital city of the Free State of Thuringia. 
                    From Erfurt it takes you about an hour to Ilmenau through the scenic hilly landscape of the Thuringian Basin. 
                    If you come from the direction Saalfeld or Schweinfurt, you can already transfer in Arnstadt.
                    <br />
                    <b>By airplane:</b>
                    <br />
                    The closest airport is also located in Erfurt. Erfurt-Bindersleben is mainly a domestic airport 
                    with connections to German cities like: Frankfurt (Main), Berlin, Hamburg, München, Köln/Bonn, Düsseldorf and Dresden
                </p>
                <br />
                <p style="text-align: justify; padding-right:10px;">
                    <b>Adress:</b>
                </p>
                    <p>Gustav-Kirchhoff-Straße 2</p>
                    <p>Bionik-Building</p>
                    <p>98693 Ilmenau</p>
                    <p>Germany</p>
            </td>
        </tr>
    </table>
</div>

<h3>City map</h3>

    <div>
        <iframe src="https://mapsengine.google.com/map/embed?mid=1K3fU-l9m6jI1bGZmvEdRkpdW-DA&usp=sharing" width="640" height="480"></iframe>
    </div>

<br />

<h3>Campus map</h3>

<div>
    <img width="900"  src="~/Content/Images/campusplan.gif" alt="" />
</div>