@model IEnumerable<Conference.Models.Schedule>
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<table class="table2" border="1">
    <tr>
        <td class="td22">09:00</td>
        <td class="tdr">Registration and Welcome ceremony</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td23">09:30</td>
        <td class="tdpres">Presentation session one</td>
        <td class="tdpart">Aleksandr Zheleznov</td>
        <td class="tdp">"Assets worth assessment in corporate information networks"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Ali Karaki</td>
        <td class="tdp">"Security Engineering"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Aliia Zaliaeva</td>
        <td class="tdp">"Using Convolutional Neural Networks for object recognition in images"</td>
    </tr>
    <tr>
        <td class="td22">10:30</td>
        <td class="tdbreak">break</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
    <tr>
        <td class="td22">10:35</td>
        <td class="tdr">Poster session one</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td22">11:10</td>
        <td class="tdbreak">break</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
    <tr>
        <td class="td23">11:15</td>
        <td class="tdpres">Presentation session two</td>
        <td class="tdpart">Arun-kumar Tharanatha</td>
        <td class="tdp">"Security in wireless networks using key exchange mechanism"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Samar Shahabi Ghahfarokhi</td>
        <td class="tdp">"Optimal trajectories for 2D single-beacon navigation"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Vishal Raheja</td>
        <td class="tdp">"To Control, Monitor And Find Fault in a Transformer Oil Filtration Plant Using PLC and HMI Through GUI on HMI"</td>
    </tr>
    <tr>
        <td class="td22">12:15</td>
        <td class="tdbreak">Lunch break</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
    <tr>
        <td class="td22">13:30</td>
        <td class="tdr">Introduction to Ilmenau</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td23">13:45</td>
        <td class="tdpres">Presentation session three</td>
        <td class="tdpart">Oleg Gadelshin</td>
        <td class="tdp">"Symmetric Encryption with Key Generation based on Neural Networks"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Samaneh Nazari Dastjerdi</td>
        <td class="tdp">"Topology Control in Wireless Sensor Network using Fuzzy Logic"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Archit Kathuria</td>
        <td class="tdp">"Sound-Poster"</td>
    </tr>
    <tr>
        <td class="td22">14:45</td>
        <td class="tdbreak">break</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
    <tr>
        <td class="td22">14:50</td>
        <td class="tdr">Poster session two</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td22">15:25</td>
        <td class="tdbreak">break</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
    <tr>
        <td class="td23">15:30</td>
        <td class="tdpres">Presentation session four</td>
        <td class="tdpart">Mohamed Marzouk</td>
        <td class="tdp">"An Advanced Data Security Algorithm Using Cryptography and DNA-Based Steganography"</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Rafis Rakhmankulov</td>
        <td class="tdp">"Using Hopfield networks and Bidirectional associative memory for noisy digits recognition."</td>
    </tr>
    <tr>
        <td class="td23"></td>
        <td class="tdpres"></td>
        <td class="tdpart">Tarek Hamouda</td>
        <td class="tdp">"Component-Based Software Engineering"</td>
    </tr>
    <tr>
        <td class="td22">16:30</td>
        <td class="tdr">Closing Ceremony</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td22">17:00</td>
        <td class="tdbreak">End</td>
        <td class="tdbreak"></td>
        <td class="tdbreak"></td>
    </tr>
</table>