<h2>Venues</h2>

<h3>Drinks</h3>
<p>Coffee and soft drinks will be provided.</p>

<h3>Lunch</h3> 
<h4>Mensa Ehrenberg - Max-Planck-Ring 1, 98693 Ilmenau</h4>
<p>Lunch can be taken in Mensa which is open from 11:15 until 14:30.</p>

<div>
    <img width="auto" src="~/Content/Images/mensa.jpg" alt="" />
</div>