<h2>Social Events</h2>

<div>
    <h3>Ice skating</h3>
    <h4>January 30th 2017 at Ice skating rink (Eishalle) Ilmenau</h4>
    <br />


    <p style="text-align: justify;">
        After the end of the conference, those who are registered to participate in the social event "ice skating", are welcome to join us.
    </p>
    <p style="text-align: justify;">
        <b>Price:</b>
    </p>
    <p style="text-align: justify;">
        For visitors who don't want to skate - 1 EURO.
    </p>
    <p style="text-align: justify;">
        For skating 2 hours - 2.5 EURO.
    </p>
    <p style="text-align: justify;">
        For renting skates - 2.5 EURO.
    </p>
    <p style="text-align: justify;">
        Total price for students - 5 EURO.
    </p>

    <img src="~/Content/Images/eishalle2.jpg" alt="Alternate Text" />

</div>

<br />
<div>
    <table style="width:100%">
        <tr>
            <td>
                <h2>Location</h2>
                <p style="text-align: justify; padding-right:50px;">
                    Address: Karl-Liebknecht-Straße 34, 98693 Ilmenau
                </p>
            </td>
            <td>
                <img src="~/Content/Images/eishalle1.jpg" alt="Alternate Text" />
            </td>
        </tr>
    </table>
</div>

<br />

<div>
    <p style="text-align: justify;">More information about ice skating rink (Eishalle) can be found at: 
    <a href="https://www.ilmenau.de/505-0-Eishalle.html">https://www.ilmenau.de/505-0-Eishalle.html</a> link.
    </p>
</div>