<h2>Social Events</h2>

<div>
    <h3>NKs Grill & Curry</h3>
    <h4>January 30th 2017 at NKs Grill & Curry Ilmenau</h4>
    <br />


    <p style="text-align: justify;">
        Those who are registered to participate in the social event, are welcome to join us at 18:00 o'clock.
    </p>

    <img src="~/Content/Images/nks.jpg" width="960" alt="Alternate Text" />

</div>

<br />
<div>
    <table style="width:100%">
        <tr>
            <td>
                <h2>Location</h2>
                <p style="text-align: justify; padding-right:50px;">
                    Address: Karl-Liebknecht-Straße 13, 98693 Ilmenau
                </p>
            </td>
            <td>
                <iframe src="https://maps.google.de/maps?hl=de&q=Karl-Liebknecht-Str. 13, 98693 Ilmenau+(Nks Grill & Curry)&ie=UTF8&t=&z=17&iwloc=B&output=embed" width="640" height="480"></iframe>
            </td>
        </tr>
    </table>
</div>

<br />

<div>
    <p style="text-align: justify;">More information about location and prices can be found at: 
    <a href="http://www.nksgrillcurry.de">http://www.nksgrillcurry.de</a> link.
    </p>
</div>